boto3
fastparquet
graphviz
hyperopt
jupyter
mlflow==2.12.1
pandas
scikit-learn
seaborn
shap
xgboost
seaborn
yfinance
prefect
tqdm
requests
joblib
pyarrow
psycopg
psycopg_binary
evidently
numpy
matplotlib
evidently[llm]
tracely
ipykernel
adjustText
tensorflow