[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
psycopg = "*"
psycopg-binary = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
jupyter = "*"
evidently = {extras = ["llm"], version = "*"}
tracely = "*"
ipykernel = "*"
adjusttext = "*"
xgboost = "*"
tensorflow = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
