seaborn
yfinance
prefect
tqdm
requests
joblib
pyarrow
psycopg
psycopg_binary
evidently
pandas
numpy
matplotlib
scikit-learn
jupyter
evidently[llm]
tracely
ipykernel
adjustText
xgboost
tensorflow
yfinance
